.card {
	background-color: white;
	color: #272727;
	padding: 20px;
	border-radius: 10px;
	border: 0px;
	border-color: white;
	border-style: solid;
	transition: 200ms;
	min-width: 420px;
	max-width: 420px;
	min-height: 220px;
	max-height: 260px;
}

.card:hover {
	transition: 200ms;
	border: 3px;
	border-color: white;
	border-style: solid;
}

.card-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

}

.card-title {
  color: blueviolet;
	flex: 0.5;
	margin-bottom: 0;
	margin-top: 0;
}

.card-text {
	width: 350px;
	font-size: large;
}

.bolder {
  font-weight: bolder;
}