form {
    width: 300px;
    color: #272727;
    font-weight: bolder;
}

h2 {
    color: #272727;
    text-align: center;
}

form> p> :any-link {
    text-decoration: none;
    color: blueviolet;
}

span {
    display: flex;
    color: red;
    font-size: smaller;
    font-weight: normal;
    align-items: flex-end;
}


select,
input[type=text],
input[type=datetime-local],
input[type=number],
input[type=file] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.9;
}


:any-link {
    text-decoration: none;
  }