 a {
     position: absolute;
     top: 100px;
     right: 20px;
     text-decoration: none;
     transform: scale(1.2);
 }

div {
    color: #272727;
}

label {
    font-size: large;
    font-weight: bolder;
}

